*{
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    background-color:#5dd1e1;
}
h1,h2,h3,h4{
    text-align: center;
}

div{
    width: 60%;
    margin:auto;
}
p{
    margin:15px;
}
form{
    display: inline-block;
}
label{
    margin:5px 3px;
}
input, select, textarea{
    border-radius: 5px;
    border: none;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
}
textarea{
    height: 300px;
    resize: none;
}
.anchoTotal{
    width: 100%;
}
.centrado{
    text-align: center;
}
.contenedor{
    color: white;
    background-color: #32a3b8;
    width: 50%;
    margin:2% auto;
    border:1px solid #2b8fa1;
    border-radius: 4px;
    
}
.columna{
    width: 47%;
    display: inline-block;
    margin:1%;
}
.columnaDoble{
    width: 97%;
    display:inline-block;
    margin:1%;
}
.titulo{
    width:100%;
    text-align: center;
    padding:10px;
    background-color: #309eb2;
    border-bottom: 1px solid #2b8fa1;
}
.boton{
    padding: 10px;
    margin: 5px;
    border:none;
    border-radius: 4px;
    color:white;
    text-decoration: none;
    display: inline-block;
    width: auto;
}
.error{
    color: red;
    font-weight: bold;
    text-align: right;
}
.campoError{
    color: red;
    float:right;
}
.crear{
    background-color: #38a744;
}
.detalle{
    background-color: #32a3b8;
}
.actualizar{
    background-color: #fbc000;
    color: black;
}
.modificar{
    background-color: #2b7dff;
}
.borrar{
    background-color: #d63145;
}
.limpiar{
    background-color: #354dff;
}
.volver{
    background-color: #32a3b8;
    display: inline-block;
    width: fit-content;
    margin:auto;
}
table{
    width: 100%;
    border-collapse: collapse;
    color: white;
    background-color: #343a40;
    text-align: center;
    margin:auto;
}
td,th{
    padding:10px 1px;
}
tr:nth-child(even){
    background-color: #3f444a;
}