@font-face {
  font-family: 'Ubuntu Mono';
  src: url(./fonts/UbuntuMono-R.ttf);
}
@font-face {
  font-family: 'Ubuntu Mono';
  src: url(./fonts/UbuntuMono-B.ttf);
  font-weight: bold;
}
*{
  font-family: 'Ubuntu Mono', sans-serif;
}
body{
  background-color: #fa8864;
}
h1, h2, h3{
  text-align: center;
}
table{
  color:white;
  background-color: #3f444a;
  text-align: center;
  width: 100%;
  margin: 0.5em;
  border-collapse: collapse;
}
th{
  background-color: #343a40;
  padding: 0.5em;
}
tr:nth-child(even){
  background-color: #343a40;
}
input{
  border: none;
}

.contenedor{
  width: 80%;
  margin: auto;
}
.boton{
  border-radius: 3px;
  padding: 0.5em 1em;
  margin: 1em 0.5em;
  display: inline-block;
  background-color: azure;
  text-decoration: none;

}
.ok{
  color: white;
  background-color: #38a744;
}
.error{
  color: red;
}
.error p{
  background-color: rgba(0,0,0,0.6);
  width:fit-content;
  padding: 0.2em 1em;
  border-radius: 3px;
}
.neutro{
  color: white;
  background-color: #2b7dff;
}
.volver{
  color:white;
  background-color: #32a3b8;
}
.dark{
  color:white;
  background-color: #6d757d;
}
.info{
  color: white;
  background-color: #d5edda;
}
.creado{
  color: black;
  background-color: #d5edda;
  padding: 1em;
  border-radius: 5px;
  margin:1em;
}