*{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
}
body{
  background-color: #c0c0c0;
}
select{
  width:80%;
  height:100%;
  float:right;
  font-size: 1.2em;
}
input{
  border:none;
}
.contenedor{
  width:500px;
  margin:auto;
  padding:2em;
  background-color: white;
  border-radius: 5px;
}
.contenedor h2{
  display:inline-block;
}
.field{
  position:relative;
  width:100%;
  height: 3em;
  color:#494f57;
  background-color: #e8ecef;
  border: thin solid #c0c0c0;
  border-radius:5px;
}
.field img{
  width:1.5em;
  position:absolute;
  left:10%;
  top:50%;
  transform:translate(-50%,-50%);
}
.boton{
  padding:0.5em 1em ;
  border-radius: 5px;
  color:white;
  font-size:medium;
  text-decoration: none;
  display:inline-block;
}
.neutro{
background-color: #354dff;
}
.ok{
  background-color: #2bb748;
  float:right;
}
.borrar{
  background-color: red;
}
.error{
  color: red;
  font-weight: bold;
}
#confirmacion{
  color:#354dff;
}
#preferencias{
  background-color: #2bb748;
  color:white;
}

